header {
  padding: 25px 0; }
  header .header-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  header img {
    width: 10%;
    min-width: 100px;
    max-width: 200px;
    vertical-align: middle;
    animation: rotate 20s linear infinite; }
  header h1 {
    font-size: 2em;
    color: #eceff1;
    margin: 0; }
    @media screen and (min-width: 768px) {
      header h1 {
        font-size: 3em; } }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

.taskContainer button {
  margin-right: 10px; }
