.app-description {
  text-align: center;
  p:first-child {
    font-weight: bold;
  }
}

.new-note-btn {
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.noteContainer {
  button {
    margin-right: 10px;
  }

}
